/* 전체적인 설정 */
body {
    font-family: Arial;
    background-color: #d14836;
    line-height: 20px;
}

.container {
    min-width: 900px;
}

.wrapper {
    position: relative;
    overflow: auto;
}

#header {
    color: #ffffff;
    padding: 15px;
    font-size: 30px;
    line-height: 26px;
}

#header h1 {
    margin: 0;
    line-height: 50px;
}

#main {
    padding: 10px;
    background-color: #ffffff;
    font: 80% Verdana;
}

#main h1,
#main h2 {
    color: #d14836;
}

#sidebar {
    background-color: #f6DAD7;
    color: #d14836;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    color: #ffffff;
}



#menu {
    width: 190px;
    float: right;
}

#menulist {
    padding: 0;
    font: 16px verdana;
    color: #d14836;
}

#menu a {
    text-decoration: none;
    color : white;
}

#main a{
    color:#d14836;
    text-decoration: none;
}

.menuitem {
    width: 155px;
    background-color: #d14836;
    border: 1px solid #d14836;
    border-radius: 40px;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.menuitem:hover{
    background-color: white;
}

.menuitem:nth-child(2) {
    /* background-color: white;
    color: #d14836; */
    font-weight: bold; /* 추가로 글자를 굵게 표시하려면 */
}

#menu a:hover {
    color: #d14836;
    background-color: white;
}

